In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv('car drive.csv')

In [3]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [4]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

# Missing Value Handling using mean()/median()

In [5]:
exm_fit = df.experience.median()

In [6]:
exm_fit

5.0

# Nall value fillup using fillna(value)

In [7]:
df.experience = df.experience.fillna(exm_fit)

In [8]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [9]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [10]:
reg = linear_model.LinearRegression()

In [11]:
reg.fit(df[['speed','car_age','experience',]],df.risk)

LinearRegression()

In [12]:
reg.predict([[160,10,5]])

/home/user/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [13]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [14]:
reg.intercept_

33.410000910435905

In [15]:
y = 0.33059217 * 160 +  1.61053246 *10 + -6.20772074 * 5 + 33.410000910435905

In [16]:
y

71.3714690104359